@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Inter:wght@200;300;400;500;600;800&display=swap");
@font-face {
  font-family: arabicFontBold;
  src: url(./assets/fonts/ArbFONTS-Bold.ttf);
}
@font-face {
  font-family: arabicFontMedium;
  src: url(./assets/fonts/ArbFONTS-Medium.ttf);
}
@font-face {
  font-family: arabicFontRegular;
  src: url(./assets/fonts/ArbFONTS-Regular.ttf);
}
@font-face {
  font-family: arabicFontLight;
  src: url(./assets/fonts/ArbFONTS-LIGHT.ttf);
}
.ibm-plex {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-family: 800 !important;
}

.arabicFontBold {
  font-family: arabicFontBold;
}
.arabicFontMedium {
  font-family: arabicFontMedium;
}
.arabicFontRegular {
  font-family: arabicFontRegular;
}
.arabicFontLight {
  font-family: arabicFontLight;
}
body {
  //background-color: red;
  //height: 50000px;
  font-family: arabicFontMedium;
}
input,
textarea {
  outline: none;
}
::selection {
  background: #16a34a;
  color: #fff;
}

.animate-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.progress_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.progress_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #16a34a;
}
